.form {
  display: flex;
  justify-content: center;
  min-height: 15vh;
  background-color: #8d99ae;
}
.span,
.form {
  display: flex;
  align-items: center;
}

.btn {
  margin-left: 5vi;
  background-color: #669bbc;
  min-height: 6vh;
  min-width: 9vw;
  border-radius: 20%;
}
.select {
  min-height: 6vh;
  min-width: 6vw;
  border-radius: 50%;
  background-color: #f8f9fa;
  margin: 0px 20px;
}
.input {
  min-height: 6vh;
  min-width: 40vw;
  border-radius: 10px;
  background-color: #f8f9fa;
}

.list {
  background-color: #003049;
  color: #f8f9fa;
  display: flex;
  flex: 1;
  max-width: 100vw;
}
.tasks {
  border: 1px solid #669bbc;
  display: flex;
  justify-content: space-between;
  height: 4vh;
  width: 300px;
  word-wrap: break-word;
  overflow: auto;
  align-items: center;
}

.ul {
  overflow: scroll;
  list-style: none;
  margin-top: 10px;
  word-wrap: break-word;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
}

.checkbox {
  min-height: 2vh;
  accent-color: #76b7e0;
}
.remove {
  background: none;
  border: none;
  min-height: 2vh;
  display: flex;
  align-items: center;
}
