@import url("https://fonts.googleapis.com/css?family=Monoton");
body {
  margin: 0;
  padding: 0;
}
.header {
  background-color: #cfe8ef;
  min-height: 16vh;
  display: flex;
  justify-content: center;
}
h1 {
  font-family: "Monoton";
  font-size: 4rem;
}
